<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.mapper.BlogMapper">
    <select id="list" parameterType="com.example.blog.dto.ListDto">
        select * from blog
        where is_deleted = 0
        order by blog_Create_Time desc
        <if test="page != null and page > 0">
            limit #{start},#{pageSize}
        </if>
    </select>
    <insert id="save" parameterType="com.example.blog.entity.Blog">
        insert into blog(blog_name,blog_ggeer,blog_content,blog_create_time,blog_update_time,blog_cover_image,blog_category_name,blog_tags,blog_category_id)
        values(#{blogName},#{blogGgeer},#{blogContent},NOW(),NOW(),#{blogCoverImage},#{blogCategoryName},#{blogTags},#{blogCategoryId})

    </insert>
    <update id="update" parameterType="com.example.blog.entity.Blog">
        update blog
        set blog_name=#{blogName},blog_ggeer=#{blogGgeer},blog_content=#{blogContent},blog_update_time=NOW(),blog_cover_image=#{blogCoverImage},blog_category_name=#{blogCategoryName},blog_tags=#{blogTags}
        where blog_id=#{blogId}


    </update>

        <!-- 逻辑删除（推荐）,数据被标记为删除，但数据还存在 -->
    <update id="logicDelete">
            UPDATE blog
            SET is_deleted = 1
            WHERE blog_id = #{blogId}
    </update>





</mapper>
